*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f6f8f9;
}

/*HEADER*/
header{
  background-color: white;
  padding: 20px 35px;
}

header .logo{
  display: inline-block;
}

header .logo img{
  vertical-align: middle;
  width: 90px;
}

header span{
  vertical-align: middle;
  font-weight: bolder;
  font-size: 70px;
}

/*MAIN*/
main{
  width: 70%;
  background-color: white;
  margin: 70px auto;
  border-radius: 10px;
}

/*TASTI*/
main .buttons{
  padding: 25px 100px 15px;
  border-bottom: 3px solid #f6f8f9;
}

main .buttons .button{
  font-size: 20px;
  height: 50px; 
  padding: 0 20px;
  border-radius: 8px;  
}

main .buttons #button1{
  color: white;
  border: 0;
  background-color: #47adf1;
}

main .buttons #button2{
  color: #c8ced3;
  border: 2px solid #c8ced3;
  background-color: white;
}

/*MARGINE TASK*/
main .tasks{
  padding: 0 100px;
}

/*TITOLI SEZIONI TASK*/
.title2{
  font-size: 35px;
  font-weight: bold;
  color: #444851;
}

/*NOMI ELEMENTI TASK*/
.title3{
  font-size: 30px;
  margin-left: 10px;
  color: #444851;
}

/*MARGINE FRA TITOLI DEL TASK*/
.title3-content{
  margin-top: 25px;
}

.check{
  height: 27px;
  width: 27px;
  text-align: center;
  border: 2px solid #5abba2;
  border-radius: 50%;
  font-weight: bold;
  display: inline-block;
  color: #5abba2;
}


.cross{
  height: 27px;
  width: 27px;
  text-align: center;
  border: 2px solid #EB5951;
  border-radius: 50%;
  font-weight: bold;
  display: inline-block;
  color: #EB5951;
}

/*CONTENITORE TIPO SEZIONE*/
.type-task{
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 15px;
  display: inline-block;
}

/*MARGINE SUPERIORE DEL TASK*/
.task{
  margin-top: 50px;
}

/*COLORI TIPO SEZIONE*/

#editorial{
  background-color: #47adf1;
}

#q1goals{
  background-color: #9C72E4;
}
#recruiting{
  background-color: #64C0A9;
}

#mobile{
  background-color: #F29E33;
}

#website{
  background-color: #D863A1;
}

#sales{
  background-color: #B0C926;
}